<nav class="bg-violet-700 h-12 flex w-full py-4 px-4 text-lg text-white flex items-center">
    <ul class="flex items-center space-x-2">
        <li>
            <a class="p-6 py-2 hover:text-purple-300 rounded-md" href="#">About</a>
        </li>
        <li>
            <a class="p-6 py-2 hover:text-purple-300 rounded-md" href="#" [routerLink]="['products']" routerLinkActive="bg-violet-900">Products</a>
        </li>
        <li>
            <a class="p-6 py-2 hover:text-purple-300 rounded-md" href="#" [routerLink]="['new']" routerLinkActive="bg-violet-900">New</a>
        </li>
    </ul>
</nav>
