<section class="p-6 h-full bg-orange-50 flex flex-col items-center">
    <div class="w-full text-center text-3xl font-medium">Products in Cart:</div>

    <div class="w-3/5 flex flex-col grow items-center py-2 space-y-2">
        <div class="w-full bg-white rounded-md shadow-md flex items-center hover:shadow-xl" *ngFor="let i of detailedCart">
            <img src="{{ i.imgUrl }}" alt="" class="w-14 h-10 m-1 rounded" />
            <span class="grow">
                <div class="text-md">{{ i.title }}</div>
                <div class="text-sm text-gray-600">{{ i.brand }}</div>
            </span>
            <span class="h-6 w-6 mx-2 rounded-full bg-violet-800 text-center text-white font-semibold"> {{ i.count }} </span>
        </div>
    </div>

    <div class="rounded-lg shadow-lg hover:shadow-2xl">
        <button class="bg-red-600 text-white overflow-hidden py-2 px-5 rounded-l-lg">Close</button>
        <button class="bg-green-500 text-white overflow-hidden py-2 px-5 rounded-r-lg">Confirm</button>
    </div>
</section>
